@model FlexWise_Prototype.Entities.FitnessProgram
@using FlexWise_Prototype.Enums
<h1>Create Fitness Program</h1>

<form method="post">
    <div class="form-group">
        <label>Title</label>
        <input class="form-control" name="Title" />
    </div>

    <div class="form-group">
        <label>Description</label>
        <textarea class="form-control" name="Description"></textarea>
    </div>

    <div class="form-group">
        <label>Goal</label>
        <select class="form-control" name="Goal">
            <option>FatLoss</option>
            <option>MuscleGain</option>
            <option>Strength</option>
            <option>GeneralFitness</option>
        </select>
    </div>

    <div class="form-group">
    <label asp-for="ProgramDuration"></label>
    <select asp-for="ProgramDuration"
            class="form-control"
            asp-items="Html.GetEnumSelectList<ProgramDuration>()">
    </select>
</div>

    <button class="btn btn-success mt-3" type="submit">Create</button>
</form>